{% extends 'base/base.html' %}
{% load i18n %}
{% load bootstrap %}
{% block content %}
    <table class="table {% if not user.is_active %}not-active{% endif %}">
        <tr>
            <td>{% trans "User" %}</td>
            <td>{{ user.get_full_name }}</td>
        </tr>
        <tr>
            <td>{% trans "Email" %}</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>{% trans "First login" %}</td>
            <td>{{ user.date_joined }}</td>
        </tr>
        <tr>
            <td>{% trans "Integrace Google Drive" %}</td>
            <td>
                {% if is_logged %}
                    {% trans "you are logged in already" %}
                    <button id="logout" data-url="/ajax/logout/"
                            onclick="logout('logout')">{% trans "Log out" %}</button>
                {% else %}
                    {% trans "You are not logged yet :" %}
                    <button id="signinButton">{% trans "Sign in with Google" %}</button>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                {% if user.is_active %}
                    <button type="button" class="btn btn-default" data-toggle="modal" data-action="editProfile"
                            data-target="#editModal">{% trans 'edit' %}
                        btn
                    </button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-action="changePass"
                            data-target="#editModal">{% trans 'change' %}
                        pass
                    </button>
                {% endif %}
                <button type="button" class="btn {% if user.is_active %}btn-danger{% else %}btn-success{% endif %}"
                        data-toggle="modal" data-action="deactivate"
                        data-target="#editModal">
                    {% if user.is_active %}{% trans 'Deactivate' %}{% else %}{% trans 'Activate' %}{% endif %}
                </button>
            </td>
        </tr>
    </table>


{% endblock %}
{% block scripts %}
    {% csrf_token %}
    {% load static from staticfiles %}

    <script src="{% static "app/main.js" %}"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=startOauth" async defer></script>

{% endblock %}


{% block modals %}

    <div class="modal fade" tabindex="-1" id="editModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans 'Edit profile' %}</h4>
                </div>
                <div class="modal-body">
                    <div id="editProfile" class="modal-forms">
                        <form action="/profile/" method="post">
                            {% csrf_token %}
                            {{ editProfileForm|bootstrap }}
                            <input type="submit" class="btn btn-primary" value="save changes">
                        </form>
                    </div>

                    <div id="changePass" class="modal-forms">
                        <form action="{% url 'password_change' %}" method="post">
                            {% csrf_token %}
                            {{ passForm|bootstrap }}
                            <input type="submit" class="btn btn-primary" value="save changes">
                        </form>
                    </div>

                    <div id="deactivate" class="modal-forms">
                        <form action="{% url 'deactivate' %}" method="post">
                            {% csrf_token %}
                            {{ deactivateForm|bootstrap }}
                            <input type="submit" class="btn btn-primary" value="{% trans 'Yes, deactivate' %}">
                        </form>
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">{% trans 'No, I was kidding' %}</button>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}