{% load bootstrap %}
{% load static %}
{% load i18n %}
<div class="sidebar">

    <span class="icon"></span>
    <span id="counter-span" class="counter" data-value="{{ counter }}">{{ counter }}</span>
    <ul class="sidebar-list">

        {% for item in data %}

            <li id="queue-item{{ item.id }}">
                <img src="{% static 'imgs/' %}{{ item.get_icon }}" alt="" class="icon">
                <span class="queue-name">
                    {{ item.name }}
                </span>

                <div class="btn-group action-buttons">
                    <button onclick="removeFromQueue(this)" id="queue-item-remove{{ item.id }}"
                            data-queueitemid="{{ item.id }}"
                            data-url="{% url 'addAsEntity' %}"
                            data-target="#queue-item{{ item.id }}"
                            class="btn btn-warning"

                    ><i class="fa fa-trash"></i>
                    </button>

                    <button onclick="addAsEntity(this)" id="queue-item-add{{ item.id }}"
                            data-target="#queue-item{{ item.id }}"
                            data-queueitemid="{{ item.id }}"
                            data-name="{{ item.name }}"
                            data-type="{{ item.source_type.name }}"
                            class="btn btn-success"
                            data-url="{% url 'addAsEntity' %}"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </li>
        {% endfor %}
        <li class="last-in-queue">{% trans 'Yahoo, there is nothing in the queue' %}</li>
        {% if show_last %}
            <script>
                $(".last-in-queue").show();
            </script>
        {% endif %}
    </ul>
</div>