{% extends "base/base.html" %}

{% load i18n %}

{% block content %}

    <div class="col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
        <p></p>
        <h2>
            Yahooo ! {% trans "Your account is now activated." %}
        </h2>
        <h3>
            You can login here <a href="{% url 'auth_login' %}">here</a>.
        </h3>
    </div>



{% endblock %}
