{% extends "base/base.html" %}
{% load bootstrap %}

{% load i18n %}

{% block content %}
{#    <div class="row">#}
        <div class="col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
            <form method="post" action=".">
                {% csrf_token %}
                {{ form|bootstrap }}

                <input type="submit" class="btn btn-success" value="{% trans 'Log in' %}"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-offset-6 col-md-4 col-md-4">
            <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
            <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
        </div>
{#    </div>#}



{% endblock %}
