{% extends "base/base.html" %}

{% load i18n %}

{% block content %}
    <div class="col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
        <p></p>
        <h2>
            Noooo! {% trans "You have been logged out :(" %}
        </h2>
        <h3>
            Continue to  <a href="/">main page</a>. Maybe you will change your mind.
        </h3>
    </div>
{% endblock %}
