{% extends "base/base.html" %}
{% load bootstrap %}

{% load i18n %}

{% block content %}
    <div class="col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
    <h2>Reset password</h2>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form|bootstrap }}

            <input type="submit"  class="btn btn-success" value="{% trans 'Submit' %}"/>
        </form>
    </div>
{% endblock %}
