{% extends "base/base.html" %}

{% load i18n %}

{% block content %}
    <div class="col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
        <h2>Yahoo, it is on the way!</h2>
        <p>{% trans "Email with password reset instructions has been sent." %}</p>
    </div>
{% endblock %}
