{% extends "base/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block content %}
<div class="col-lg-8 col-lg-offset-2">
<form method="post" action=".">
  {% csrf_token %}
  {{ form|bootstrap }}

  <input class="btn btn-success" type="submit" value="{% trans 'Submit' %}" />
</form>
    </div>
{% endblock %}
