<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from staticfiles %}
    {% load i18n %}

    {% load bootstrap3 %}
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sherito</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    {#    <!-- Bootstrap Core CSS -->#}
    {# Load CSS and JavaScript #}

    {% bootstrap_css %}
    <link href="{% static "vendor/font-awesome/css/font-awesome.css" %}" rel="stylesheet" type="text/css"/>
    <script src="{% static "vendor/jquery/dist/jquery.js" %}"></script>
    {% load static from staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/MDBootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/MDBootstrap/css/mdb.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    {##}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

    {# Display django.contrib.messages as Bootstrap alerts #}

    <!-- Custom CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    {#    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->#}

</head>

<body>
<!-- Navigation -->


<!--Navbar-->
<nav class="navbar navbar-toggleable-md  navbar-light teal lighten-4">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand custom-navbar" href="/">
            <img alt="Brand" src="{% static 'icons/apple-icon-72x72.png' %}">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav ml-auto">

                {% for item in menu_items %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ item.url }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
                <li class="delimiter"></li>
                <li class="nav-item"><img src="{% static "imgs/logged.png" %}" alt=""
                                          class="img-menu img-circle"></li>
                {% for item in profile_items.items %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ item.url }}">{{ item.name }}</a>
                    </li>
                {% endfor %}

            </ul>

        </div>
    </div>
</nav>

<!-- Portfolio Grid Section -->
<section class="main-section">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8 flash-messages">
        {% bootstrap_messages %}
    </div>
    <div class="col-lg-2">

    </div>

    <div class="container main-container">
        <div class="row">
            <!-- content -->
            {% block content %}{% endblock %}
            <!-- END of content -->

        </div>
    </div>
</section>


{% block modals %}{% endblock %}

</body>

<script>
	var static_url = '{% static '' %}'
</script>
<script src="{% static "app/common.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/bootstrap/dist/js/bootstrap.js" %}"></script>
{% block scripts %}{% endblock %}


</html>