{% load bootstrap %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">New board</h4>
</div>
<div class="modal-body">

    <div id="addBoard" class="modal-forms">
        <form action="{% url 'boardList' %}{% if edit_id %}?id={{ edit_id }}{% endif %}" method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="center">
                <button type="submit" class="btn btn-info bigger" value="Send">
                    <i class="fa fa-plus"></i> Send
                </button>
            </div>
        </form>
    </div>
    <div id="editBoard" class="modal-forms">

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
</div>