{% load bootstrap3 %}

{% bootstrap_messages %}

{% for board in boards %}
    <div class="col-md-4">
        <div class="card" id="boardRow{{ board.id }}">
            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">
                    <a href="

                            {% url 'board' board.id %}{% if board.gkey %}?id={{ board.gkey }}{% endif %}">{{ board.name }}</a>
                </h4>
                <!--Text-->
                <p class="card-text">
                    {{ board.desc }}
                </p>
                <a class="btn btn-success"
                   href="{% url 'board' board.id %}{% if board.gkey %}?id={{ board.gkey }}{% endif %}">
                    <i class="fa fa-eye"></i>
                </a>

                <button id='newBoardBtn{{ board.id }}' type="button" class="btn btn-info" data-toggle="modal"
                        data-action="addBoard"
                        data-target="#editModal" data-url="{% url 'getEditBoardForm' board.id %}"
                        data-targetHTML="#modal-content" onclick="getNewBoardForm(this)">
                    <i class="fa fa-pencil"></i>
                </button>
                <a class="btn btn-danger" data-url="{% url 'deleteBoard' %}" id="boardDel{{ board.id }}"
                   data-boardid="{{ board.id }}" data-toggle="confirmation" data-singleton="true" data-popover="true"
                   href="javascript:deleteBoard('boardDel{{ board.id }}')">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
            <!--/.Card content-->

        </div>
    </div>

{% endfor %}


