{% extends 'base/base.html' %}
{#{% load bootstrap %}#}
{% block content %}

    {% load static from staticfiles %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
        <button id='newBoardBtn' type="button" class="btn btn-success" data-toggle="modal" data-action="addBoard"
                data-target="#editModal" data-url="{% url 'getNewBoardForm' %}"
                data-targetHTML="#modal-content" onclick="getNewBoardForm(this)">new board
        </button>
        <div id="list" data-url="{% url 'getBoardList' %}">
        </div>
    </div>
    <div class="col-lg-2">

    </div>
    {% load tz %}


{% endblock %}

{% block modals %}

    <div class="modal fade" tabindex="-1" id="editModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modal-content">

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->




{% endblock %}

{% block scripts %}
    {% load static from staticfiles %}
    <script src="{% static "vendor/bootstrap-confirmation2/bootstrap-confirmation.min.js" %}"></script>


    <script src="{% static "app/main.js" %}"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=startOauth" async defer></script>



    <script>initBoardList();</script>
{% endblock %}