{% load i18n %}
{% load static %}
<div>
    <div class="row">
        <div class="col-md-2 col-lg-2">
            <img src="{% static "imgs/" %}{{ entity.source_type.get_icon }}" class="img-responsive">
        </div>
        <div class="col-md-10 col-lg-10">
            <h3>{{ entity.name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 desc_block">
            {% block detail_content %}{% endblock %}
        </div>

    </div>
</div>