{% extends 'board/entity_detail/detail_base.html' %}
{% load i18n %}
{% block detail_content %}
    <div class="preview">
        <table class="table table-stripped">
            <tr>
                <td>{% trans 'Subject:' %}</td>
                <td>{{ email.subject }}</td>
            </tr>
            <tr>
                <td>{% trans 'From:' %}</td>
                <td>{{ email.get_from }}</td>
            </tr>
            <tr>
                <td>{% trans 'To:' %}</td>
                <td>{{ email.get_to }}</td>
            </tr>
            <tr>
                <td>{% trans 'Message' %}</td>
                <td>{% autoescape off %}{{ email.get_body }}{% endautoescape %}</td>
{#            autoscaping turned off because of HTML in body #}
            </tr>
        </table>
    </div>
{% endblock %}
