{% extends 'board/entity_detail/detail_base.html' %}
{% load i18n %}
{% block detail_content %}

    <table class="table table-stripped">
        <tr>
            <td>{% trans 'Name' %}</td>
            <td>{{ gdata.name }}</td>
        </tr>
        <tr>
            <td>{% trans 'Type of file' %}</td>
            {% if mimetype %}
                <td>{{ mimetype }}</td>
            {% else %}
                <td>{{ gdata.mimeType }}</td>
            {% endif %}
        </tr>
        {% if gdata.description %}
            <tr>
                <td>{% trans 'File description' %}</td>
                <td>{{ gdata.description }}</td>
            </tr>
        {% endif %}
        {% if gdata.modifiedTime %}
            <tr>
                <td>{% trans 'Last modification' %}</td>
                <td>{{ gdata.modifiedTime }}</td>
            </tr>
        {% endif %}
        {% if gdata.webContentLink or gdata.webViewLink %}
            <tr>
                <td>{% trans 'Link' %}</td>
                <td>
                    {% if gdata.webContentLink %}
                        <a href="{{ gdata.webContentLink }}" target="_blank">{% trans 'Content link' %}</a>
                    {% elif gdata.webViewLink %}
                        <a href="{{ gdata.webViewLink }}" target="_blank">{% trans 'Preview link' %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endif %}


    </table>
{% endblock %}
