{% extends 'board/entity_detail/detail_base.html' %}
{% load i18n %}
{% block detail_content %}
    <div class="preview">
        <table class="table table-stripped">
            <tr>
                <td>{% trans 'Commit msg:' %}</td>
                <td>{{ commit.message }}</td>
            </tr>
            <tr>
                <td>{% trans 'When:' %}</td>
                <td>{{ commit.timestamp }}</td>
            </tr>
            <tr>
                <td>{% trans 'Url:' %}</td>
                <td><a href="{{ commit.url }}" target="_blank">Commit link</a></td>
            </tr>
            <tr>
                <td>{% trans 'User' %}</td>
                <td>{{ commit.user }}<br />{{ commit.user_email }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
