body {
  //overflow-y: scroll !important;
}

@red: #DB2828;
@orange: #F2711C;
@yellow: #FBBD08;
@olive: #B5CC18;
@green: #21BA45;
@teal: #00B5AD;
@blue: #2185D0;
@violet: #6435C9;
@purple: #A333C8;
@pink: #E03997;

.tracked {
  color: red;
}

.untracked {
  color: blue;
}

circle:hover {
  stroke-width: 5;
  //stroke-linecap: round;
  //stroke-dasharray: "5, 5";
  //stroke: white;
  stroke-opacity: 0.9;

  //stroke-dasharray: 2;
  //stroke-dashoffset: 10;
  animation: dash 5s linear forwards;
}

circle, tspan {
  cursor: move;
}

svg text {
  font-family: FontAwesome;
}

g.editElement {
  // todo animace s s odebiranim viditelnosti
  //transition: opacity 12s ease-in;
  opacity: 0.2;

  //display: none;

}

.group:hover .editElement {
  transition: opacity 0.2s ease-out;
  opacity: 1;

  display: block;
}

.main-container {
  padding-top: 80px;
}

#mainNav > .container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.visible {
  display: block !important;
}

.main-section {
  margin-top: 0px;
}

.img-menu {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delimiter {
  display: inline-block;
  height: 50px;
  padding: 0px 10px 0px 10px;
  border-left: 1px solid #a9a9a9;
}

.sidebar {
  //width: 300px;

  position: relative;
  //  left: -80%;
  //  top: 50px;
  //  -webkit-transition: 0.5s ease-in-out;
  //-moz-transition: 0.5s ease-in-out;
  //-o-transition: 0.5s ease-in-out;
  //transition: 0.5s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.add-button {
  height: 60px;
  width: 60px;
  //position: absolute;
  //  left: -20%;
  //    -webkit-transition: 0.5s ease-in-out;
  //    -webkit-transition: 0.5s ease-in-out;
  //-moz-transition: 0.5s ease-in-out;
  //-o-transition: 0.5s ease-in-out;
  //transition: 0.5s ease-in-out;

  border-radius: 50%;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  font-size: 35px

}

.add-button:hover {
  //-webkit-transform: translate(20%,0);
  //-moz-transform: translate(20%,0);
  //-o-transform: translate(20%,0);
  //-ms-transform: translate(20%,0);
  //transform: translate(20%,0);

}

.sidebar:hover {
  ////position: absolute;
  ////  left: 10px;
  //  //top: 50px;
  ////  background: red;
  //  -webkit-transform: translate(100%,0);
  //  -moz-transform: translate(100%,0);
  //  -o-transform: translate(100%,0);
  //  -ms-transform: translate(100%,0);
  //  transform: translate(100%,0);
}

.counter {
  position: absolute;
  right: -20px;
  top: -20px;
  display: block;
  height: 40px;
  width: 40px;
  background: #00C851;
  border-radius: 50%;
  font-size: 20pt;
  color: white;
  padding: 2px;
  text-align: center;;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-list > li {
  position: relative;
}

.sidebar-list li {
  padding: 10px;
  border-bottom: 1px dotted #b4b4b4;
}

.directory-element, .sidebar-list li > .icon {
  height: 30px;
  width: 80%;
}

.directory-element {
  display: inline-block;
  padding: 5px;
}
.queue-element, .sidebar-list li > .icon {
  height: 30px;
  width: 30px;
}

.queue-element {
  display: inline-block;
  padding: 5px;
}

.action-buttons {
  position: absolute;
  right: 10px
}

.action-buttons {
  transition: opacity 0.2s ease-out;

  opacity: 0.15;
}

.action-buttons:hover {
  opacity: 1;
}

.last-in-queue {
  display: none;
}

.loading {
  display: none;
  width: 100%;
  background: rgba(128, 128, 128, 0.18);
  text-align: center;
  //padding: 100px;
  position: absolute;
}

#list {
  min-height: 50px;
}

.directory-back-button {
  .btn {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 30px;
  }
  text-align: center;
}

.tracked, .tracked:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.untracked, .untracked:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

#editWrapper {
  position: relative;
  overflow: hidden;

  button.closing {
    position: absolute;
    right: 0px;
    top: 0px;
  }

}

.data {
  display: none;
}

.crud-table tr td:last-child {
  width: 170px
}

#board-content {
  position: absolute;
  left: 0px;
  width: 90%;
  margin: 20px 50px 0px 50px;
  top: 70px;
}

.left-panel {
  width: 370px;
  display: inline-block;
}

.right-panel {

}

#drawing {
  border: 1px solid #b1b1b1;
  background: url('../imgs/back.gif') repeat;
  width: 1200px;
  height: 800px;
  display: inline-block;
}

.drawing-container {
  position: relative;
}

#loading {
  position: absolute;
  height: 800px;
  width: 1200px;
  background: rgba(238, 238, 238, 0.64);
  i.fa {
    font-size: 200px;
    margin: auto;
    display: block;
    //width: 100px;
    position: relative;
    top: 40%;
  }
}

li.iterations-loading {
  position: absolute;
  height: 50px;
  width: 100%;
  background: rgba(238, 238, 238, 0.64);
  i.fa {
    font-size: 2em;
    margin: auto;
    display: block;
    position: relative;
    top: 10%;
  }
}

input[type="radio"] {
  display: none;
  &:checked + label {
    border: 1px solid #f1f1f1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
  }
}

.colorPicker {

  label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    padding: 1px;
    cursor: pointer;
    span {
      display: block;
      width: 100%;
      height: 100%;
      &.red {
        background: @red;
      }
      &.green {
        background: @green;
      }
      &.orange {
        background: @orange;
      }
      &.purple {
        background: @purple;
      }
      &.pink {
        background: @pink;
      }
      &.yellow {
        background: @yellow;
      }
      &.violet {
        background: @violet;
      }
      &.teal {
        background: @teal;
      }
      &.olive {
        background: @olive;
      }
    }
  }

}

.icon_image {
  height: 25px;
  width: 25px;
}

.btn-entity_type {
  padding: 6px !important;
}

.hiddenBtn {
  display: none;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.desc_block {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgb(232, 232, 232);
}

.cross {
  background: url(../imgs/cross.png) no-repeat !important;
  background-size: 1200px 800px !important;

}

.kanban {
  background: url(../imgs/kanban.png) no-repeat !important;
  background-size: 1200px 800px !important;

}

.lean {
  background: url(../imgs/lean.png) no-repeat !important;
  background-size: 1200px 800px !important;

}

.grid {
  background: url(../imgs/back.gif) repeat !important;
}

.bg_thumb {
  width: 100px;
  height: 50px;
}

.custom-navbar {
  padding-top: 0px !important;
  img {
    position: absolute;
    top: -10px;
  }
}

.active-iteration {
  font-weight: bold;
}

#iterationsContainer {
  float: right;
  width: 170px;
  position: relative;

  ul {
    padding: 0;
    min-height: 60px;
  }
}

.btn-check, .btn-check:hover, .btn-check:focus {
  background: transparent !important;
  border: 0;
}

#myCarousel {
  h3 {
    background: rgba(0, 0, 0, 0.54);
    padding: 20px;
  }
  .left, .right {
    background: none !important;
    color: @purple;
  }
  div.item {
    img {
      margin: auto;
    }
  }

  .carousel-indicators {
    li {
      background: white;
      border-color: @purple;
    }
    .active {
      background: @pink;
      border-color: @purple;
    }
  }

}

.card {
  margin-bottom: 20px;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out, -o-transform .3s ease-out;
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.btn {
  padding: .5rem 1rem !important;
}

.container {
  width: 100% !important;
}

.btn-edit {
  border-radius: 50%;
  padding: 8px !important;
  margin: 0;
  width: 40px;
  height: 40px;
  box-shadow: none !important;
}

.btn-edit:hover {
  box-shadow: none !important;
}

.btn-img {
  width: 100%;
  //height: 100%;
}

.flash-messages {
  button.close {
    top: 0px;
    right: 0px;
  }
}

textarea {
  padding: 10px !important;
}

.bigger {
  padding: 18px 30px !important;
}

.center {
  text-align: center;
}

.modal-header .close {
  margin-top: 5px !important;
}

#board-name {
  position: absolute;
  top: -90px;
}

tspan {
  font-family: sans-serif;
  width: 100px;
  overflow: hidden;
  display: block;
}

.btn .fa {
  position: initial !important;
}

.google_login {
  padding: 10px;
}