.tracked {
  color: red;
}
.untracked {
  color: blue;
}
circle:hover {
  stroke-width: 5;
  stroke-opacity: 0.9;
  animation: dash 5s linear forwards;
}
circle,
tspan {
  cursor: move;
}
svg text {
  font-family: FontAwesome;
}
g.editElement {
  opacity: 0.2;
}
.group:hover .editElement {
  transition: opacity 0.2s ease-out;
  opacity: 1;
  display: block;
}
.main-container {
  padding-top: 80px;
}
#mainNav > .container {
  margin-top: 10px;
  margin-bottom: 10px;
}
.visible {
  display: block !important;
}
.main-section {
  margin-top: 0px;
}
.img-menu {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.delimiter {
  display: inline-block;
  height: 50px;
  padding: 0px 10px 0px 10px;
  border-left: 1px solid #a9a9a9;
}
.sidebar {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.add-button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  font-size: 35px;
}
.counter {
  position: absolute;
  right: -20px;
  top: -20px;
  display: block;
  height: 40px;
  width: 40px;
  background: #00C851;
  border-radius: 50%;
  font-size: 20pt;
  color: white;
  padding: 2px;
  text-align: center;
}
.sidebar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-list > li {
  position: relative;
}
.sidebar-list li {
  padding: 10px;
  border-bottom: 1px dotted #b4b4b4;
}
.directory-element,
.sidebar-list li > .icon {
  height: 30px;
  width: 80%;
}
.directory-element {
  display: inline-block;
  padding: 5px;
}
.queue-element,
.sidebar-list li > .icon {
  height: 30px;
  width: 30px;
}
.queue-element {
  display: inline-block;
  padding: 5px;
}
.action-buttons {
  position: absolute;
  right: 10px;
}
.action-buttons {
  transition: opacity 0.2s ease-out;
  opacity: 0.15;
}
.action-buttons:hover {
  opacity: 1;
}
.last-in-queue {
  display: none;
}
.loading {
  display: none;
  width: 100%;
  background: rgba(128, 128, 128, 0.18);
  text-align: center;
  position: absolute;
}
#list {
  min-height: 50px;
}
.directory-back-button {
  text-align: center;
}
.directory-back-button .btn {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 30px;
}
.tracked,
.tracked:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.untracked,
.untracked:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
#editWrapper {
  position: relative;
  overflow: hidden;
}
#editWrapper button.closing {
  position: absolute;
  right: 0px;
  top: 0px;
}
.data {
  display: none;
}
.crud-table tr td:last-child {
  width: 170px;
}
#board-content {
  position: absolute;
  left: 0px;
  width: 90%;
  margin: 20px 50px 0px 50px;
  top: 70px;
}
.left-panel {
  width: 370px;
  display: inline-block;
}
#drawing {
  border: 1px solid #b1b1b1;
  background: url('../imgs/back.gif') repeat;
  width: 1200px;
  height: 800px;
  display: inline-block;
}
.drawing-container {
  position: relative;
}
#loading {
  position: absolute;
  height: 800px;
  width: 1200px;
  background: rgba(238, 238, 238, 0.64);
}
#loading i.fa {
  font-size: 200px;
  margin: auto;
  display: block;
  position: relative;
  top: 40%;
}
li.iterations-loading {
  position: absolute;
  height: 50px;
  width: 100%;
  background: rgba(238, 238, 238, 0.64);
}
li.iterations-loading i.fa {
  font-size: 2em;
  margin: auto;
  display: block;
  position: relative;
  top: 10%;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  border: 1px solid #f1f1f1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.colorPicker label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  padding: 1px;
  cursor: pointer;
}
.colorPicker label span {
  display: block;
  width: 100%;
  height: 100%;
}
.colorPicker label span.red {
  background: #DB2828;
}
.colorPicker label span.green {
  background: #21BA45;
}
.colorPicker label span.orange {
  background: #F2711C;
}
.colorPicker label span.purple {
  background: #A333C8;
}
.colorPicker label span.pink {
  background: #E03997;
}
.colorPicker label span.yellow {
  background: #FBBD08;
}
.colorPicker label span.violet {
  background: #6435C9;
}
.colorPicker label span.teal {
  background: #00B5AD;
}
.colorPicker label span.olive {
  background: #B5CC18;
}
.icon_image {
  height: 25px;
  width: 25px;
}
.btn-entity_type {
  padding: 6px !important;
}
.hiddenBtn {
  display: none;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: scroll !important;
}
.desc_block {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #e8e8e8;
}
.cross {
  background: url(../imgs/cross.png) no-repeat !important;
  background-size: 1200px 800px !important;
}
.kanban {
  background: url(../imgs/kanban.png) no-repeat !important;
  background-size: 1200px 800px !important;
}
.lean {
  background: url(../imgs/lean.png) no-repeat !important;
  background-size: 1200px 800px !important;
}
.grid {
  background: url(../imgs/back.gif) repeat !important;
}
.bg_thumb {
  width: 100px;
  height: 50px;
}
.custom-navbar {
  padding-top: 0px !important;
}
.custom-navbar img {
  position: absolute;
  top: -10px;
}
.active-iteration {
  font-weight: bold;
}
#iterationsContainer {
  float: right;
  width: 170px;
  position: relative;
}
#iterationsContainer ul {
  padding: 0;
  min-height: 60px;
}
.btn-check,
.btn-check:hover,
.btn-check:focus {
  background: transparent !important;
  border: 0;
}
#myCarousel h3 {
  background: rgba(0, 0, 0, 0.54);
  padding: 20px;
}
#myCarousel .left,
#myCarousel .right {
  background: none !important;
  color: #A333C8;
}
#myCarousel div.item img {
  margin: auto;
}
#myCarousel .carousel-indicators li {
  background: white;
  border-color: #A333C8;
}
#myCarousel .carousel-indicators .active {
  background: #E03997;
  border-color: #A333C8;
}
.card {
  margin-bottom: 20px;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out, -o-transform 0.3s ease-out;
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.btn {
  padding: .5rem 1rem !important;
}
.container {
  width: 100% !important;
}
.btn-edit {
  border-radius: 50%;
  padding: 8px !important;
  margin: 0;
  width: 40px;
  height: 40px;
  box-shadow: none !important;
}
.btn-edit:hover {
  box-shadow: none !important;
}
.btn-img {
  width: 100%;
}
.flash-messages button.close {
  top: 0px;
  right: 0px;
}
textarea {
  padding: 10px !important;
}
.bigger {
  padding: 18px 30px !important;
}
.center {
  text-align: center;
}
.modal-header .close {
  margin-top: 5px !important;
}
#board-name {
  position: absolute;
  top: -90px;
}
tspan {
  font-family: sans-serif;
  width: 100px;
  overflow: hidden;
  display: block;
}
.btn .fa {
  position: initial !important;
}
.google_login {
  padding: 10px;
}
