{% load i18n %}
{% if logged %}
    <ul class="sidebar-list">
        <li class="directory-back-button">
            <button onclick="getGDData(this,'{{ parent.id }}' )"
                    id="{{ parent.id }}" data-targethtml="#list"
                    data-directory="{{ parent.id }}"
                    class="btn btn-info"
                    data-url="/ajax/getGDList/">
                <i class="fa fa-long-arrow-left"></i>
            </button>
        </li>
        {% if empty %}
            <li>{% trans 'Folder is empty' %}</li>
        {% else %}
            {% for foo in elements %}
                <li id="li{{ foo.id }}">
                    <a
                            href="javascript:getGDData(this,'item{{ foo.id }}' )"
                            id="item{{ foo.id }}"
                            data-targethtml="#list"
                            data-directory="{{ foo.id }}"
                            class="queue-element"
                            data-url="{% url 'getGoogleDriveList' %}">
                        {{ foo.name }}
                    </a>
                    <div class="btn-group action-buttons">
                    {% if foo.is_folder %}
                        <button
                                onclick="trackDirectory(this, 'track{{ foo.id }}');"
                                id="track{{ foo.id }}"
                                data-targethtml="#tracked{{ foo.id }}"
                                data-file_gkey="{{ foo.id }}"
                                data-url="/ajax/trackDirectory/"
                                data-name="{{ foo.name }}"
                                class="btn {% if foo.tracked %}tracked{% else %}untracked{% endif %}"
                        >

                            <i class="fa {% if foo.tracked %}fa-eye-slash{% else %}fa-eye{% endif %}"></i>
                        </button>
                        {% else %}
                        <button
                                onclick="createEntityFromDrive(this, 'file{{ foo.id }}');"
                                id="file{{ foo.id }}"
                                data-targethtml="#file{{ foo.id }}"
                                data-file_gkey="{{ foo.id }}"
                                data-url="/ajax/createEntityFromDrive/"
                                data-name="{{ foo.name }}"
                                class="btn btn-info"
                        >
                            <i class="fa fa-plus"></i>
                        </button>
                    {% endif %}
                    </div>
                </li>
            {% endfor %}
        {% endif %}
    </ul>

{% else %}
    <div class="google_login">
        <p>{% trans 'you are not logged to google' %}</p>
        <button id="signinButton" class='btn btn-info bigger'
                onclick="makeSomeNoice()">{% trans "Sign in with Google" %}</button>

    </div>

{% endif %}