{% extends 'base/base.html' %}
{% load bootstrap3 %}

{% block content %}
    {% load static from staticfiles %}

    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
        {% block logout_message %}{% endblock %}

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{% static "imgs/carousel/canvas.png" %}"
                         alt="">
                    <div class="carousel-caption">
                        <h3>Multiple layouts</h3>
                        <p></p>
                    </div>
                </div>

                <div class="item">
                    <img src="{% static "imgs/carousel/board.png" %}"
                         alt="">
                    <div class="carousel-caption">
                        <h3>All external sources on one page automatically </h3>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static "imgs/carousel/iterace.png" %}"
                         alt="">
                    <div class="carousel-caption">
                        <h3>Iterations for different project states</h3>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
    <div class="col-lg-2">

    </div>

    {% bootstrap_javascript %}

{% endblock %}

{% block modals %}


    <div class="modal fade" tabindex="-1" id="loginRegModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#regFrom" data-toggle="tab">Registrace</a>
                        </li>
                        <li>
                            <a href="#loginForm" data-toggle="tab">Login</a>
                        </li>

                    </ul>
                    <div class="tab-content ">
                        <div class="tab-pane active" id="regFrom">
                            reg
                        </div>

                        <div class="tab-pane" id="loginForm">
                            login
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block scripts %}

{% endblock %}