{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block content %}

    <div class="row" id="board-content">
        <div class="col-lg-2">
            <div>
                <button class="btn btn-info add-button" onclick="renderNewEntityForm()" value="New">
                    <i class="fa fa-plus"></i>
                </button>
                <div style="
    float: right;
    padding: 28px;
    color: gray;
">or just CTRL+V
                </div>
            </div>
            <hr>
            <div>
                <button class="btn btn-default add-button" onclick="getGDData(this, 'caller')" data-targethtml="#list"
                        data-directory="root"
                        id="caller"
                        data-url="{% url 'getGoogleDriveList' %}" data-toggle="modal" data-action="addBoard"
                        data-target="#drive-explorer">
                    <img src="{% static 'imgs/gdrive.png' %}" class="btn-img" alt="">
                </button>

                <button class="btn btn-default add-button" id='getIMAPFilters' type="button" data-toggle="modal"
                        data-action="getIMAPFilters"
                        data-target="#mailModal" data-url="{% url 'getIMAPFilters' %}"
                        data-targetHTML="#mailModalContent" onclick="universalModal(this)">
                    <img src="{% static 'imgs/email.png' %}" class="btn-img" alt="">
                </button>

                <button class="btn btn-default add-button" id='addWebHook{{ board.id }}' type="button"
                        data-toggle="modal"
                        data-action="addWebHook"
                        data-target="#addWebHookModal" data-url="{% url 'getWebHooks' %}"
                        data-targetHTML="#addWebHookModalContent" onclick="universalModal(this)">
                    <img src="{% static 'imgs/git.png' %}" alt="" class="btn-img">
                </button>
            </div>
            <hr>


            <div id="queue-list" data-url="{% url 'getQueueList' %}" data-target="queue-list"></div>
        </div>
        <div class="col-lg-10 drawing-container">
            <div id="board-name">
                <h2>
                    {{ board.name }}
                </h2>
                <h4>
                    {{ board.desc }}
                </h4>
            </div>

            <div id="loading">
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>

            </div>


            <div id="drawing" data-url="{% url 'board_notify' %}" data-board_id="{{ board_id }}"></div>
            <div id="iterationsContainer">
                <div class="card">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Layout</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:changeInitRectClick('grid');">
                                        <img src="{% static 'imgs/back.gif' %}" class="bg_thumb">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:changeInitRectClick('kanban');">
                                        <img src="{% static 'imgs/kanban.png' %}" class="bg_thumb">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:changeInitRectClick('cross');">
                                        <img src="{% static 'imgs/cross.png' %}" class="bg_thumb">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:changeInitRectClick('lean');">
                                        <img src="{% static 'imgs/lean.png' %}" class="bg_thumb">
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="list-group">

                    <ul id="iterationsSelector">
                        <li class="iterations-loading"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></li>
                    </ul>

                    <button class="btn btn-info" onclick="newIteration()">New iteration</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {% csrf_token %}
    {% load static from staticfiles %}
    {#{% load staticfiles %}#}
    <script src="{% static "vendor/jquery-ui/jquery-ui.js" %}"></script>

    <script src="{% static "vendor/svg.js/dist/svg.js" %}"></script>
    <script src="{% static "vendor/svg.draggable.js/dist/svg.draggable.js" %}"></script>
    <script src="{% static "vendor/svg.foreignobject.js/svg.foreignobject.js" %}"></script>
    <script src="{% static "vendor/realtime-client-utils.js" %}"></script>
    <script src="{% static "vendor/bootstrap-confirmation2/bootstrap-confirmation.min.js" %}"></script>

    <script src="{% static "vendor/api.js" %}"></script>
    <script src="{% static "app/app.js" %}"></script>

    {#              <script src="https://apis.google.com/js/client:platform.js" async defer></script>#}
    <script src="https://apis.google.com/js/client:platform.js?onload=startOauth" async defer></script>


    <div class="modal fade" id="gdrive-integrate_dialog" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">{% trans 'Google Drive storage' %}</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <button id="auth_button" class="btn btn-success">Get access</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close
                    </button>
                    <button type="button" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="drive-explorer" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Google Drive explorer</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="sidebar">
                        <div class="loading"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
                        <div id="list"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addIMAPModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="addIMAPModalContent">
                Loading...
            </div>
        </div>
    </div>

    <div class="modal fade" id="addWebHookModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 1000px" id="addWebHookModalContent">

            </div>
        </div>
    </div>

    <div class="modal fade" id="mailModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Set email filters and accounts</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="mailModalContent">

                    Loading...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit entity</h4>
                </div>
                <div class="modal-body" id="previewModalContent">
                    Loading...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close
                    </button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Entity preview</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    {#                    <form>#}
                    <input type="hidden" id="group_id">
                    <input type="hidden" id="entity_id">
                    <div class="form-group">
                        <label for="entity_name">Name</label>
                        <input type="text" class="form-control" id="entity_name" value=""/>
                    </div>
                    <div class="form-group">
                        <label for="entity_desc">Description</label>
                        <textarea class="form-control" id="entity_desc"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Color</label>
                        <div class="colorPicker">
                            <input type="radio" name="color" id="red" value="red" checked="checked"/>
                            <label for="red"><span class="red"></span></label>

                            <input type="radio" name="color" id="green" value="green"/>
                            <label for="green"><span class="green"></span></label>

                            <input type="radio" name="color" id="yellow" value="yellow"/>
                            <label for="yellow"><span class="yellow"></span></label>

                            <input type="radio" name="color" id="olive" value="olive"/>
                            <label for="olive"><span class="olive"></span></label>

                            <input type="radio" name="color" id="orange" value="orange"/>
                            <label for="orange"><span class="orange"></span></label>

                            <input type="radio" name="color" id="teal" value="teal"/>
                            <label for="teal"><span class="teal"></span></label>

                            <input type="radio" name="color" id="blue" value="blue"/>
                            <label for="blue"><span class="teal"></span></label>

                            <input type="radio" name="color" id="violet" value="violet"/>
                            <label for="violet"><span class="violet"></span></label>

                            <input type="radio" name="color" id="purple" value="purple"/>
                            <label for="purple"><span class="purple"></span></label>

                            <input type="radio" name="color" id="pink" value="pink"/>
                            <label for="pink"><span class="pink"></span></label>
                        </div>
                    </div>
                    <div class="center">
                        <button class="btn btn-success bigger" id='saveEditEntityBtn' onclick="saveEntity()">
                            <i class="fa fa-save"></i> Save
                        </button>
                        <button class="btn btn-success bigger" id='createEntityBtn' onclick="createEntity()">
                            <i class="fa fa-plus"></i> Create
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close
                    </button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}