{% load bootstrap %}
{% load i18n %}
<h3>{% if edit_id %}{% trans 'Edit email filter' %}{% else %}{% trans 'Create new email filter' %}{% endif %}</h3>

<div id="addBoard" class="modal-forms">
    <form action="{% url 'board' board_id %}{% if edit_id %}?id={{ edit_id }}{% endif %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
            <div class="center">
                <button type="submit" class="btn btn-info bigger" value="Send">
                    <i class="fa fa-plus"></i> Send
                </button>
            </div>
    </form>
</div>
