{% load i18n %}
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#filters" aria-controls="filters" role="tab"
               data-toggle="tab">{% trans 'Filters' %}</a>
        </li>
        <li role="presentation">
            <a href="#account" aria-controls="account" role="tab"
               data-toggle="tab">{% trans 'Account' %}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="filters">
            <div>
                <div id="editWrapper">
                    <button class="btn btn-danger closing" onclick="hideForm('editFilter')">
                        <i class="fa fa-times"></i>
                    </button>
                    <div id="editFilter">

                    </div>
                </div>

                <table class="crud-table table table-striped table-hover">
                    <tr>
                        <th>Filter</th>
                        <th>
                            <button id='addFilter' type="button" class="btn btn-success"
                                    data-action="addFilter"
                                    data-target="#addIMAPModal" data-url="{% url 'addFilter' %}"
                                    data-targetHTML="#editFilter" onclick="universalModal(this)">
                                <i class="fa fa-plus"></i>
                            </button>
                        </th>
                    </tr>
                    {% for filter_item in filters %}
                        <tr id="filter_row{{ filter_item.id }}">
                            <td>
                                {{ filter_item.name }}
                                <div class="data" id="data{{ filter_item.id }}">
                                    <table class="table">
                                        <tr>
                                            <th>{% trans 'From:' %}</th>
                                            <td>{% if filter_item.filter_from %}{{ filter_item.filter_from }}{% else %}
                                                - {% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans 'To:' %}</th>
                                            <td>{% if filter_item.filter_from %}{{ filter_item.filter_from }}{% else %}
                                                - {% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans 'KW in subject:' %}</th>
                                            <td>{% if filter_item.filter_subject_kw %}
                                                {{ filter_item.filter_subject_kw }}{% else %} - {% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans 'KW in body:' %}</th>
                                            <td>{% if filter_item.filter_body_kw %}
                                                {{ filter_item.filter_body_kw }}{% else %} - {% endif %}</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info"
                                            onclick="showData('data{{ filter_item.id }}')">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button id='addFilter{{ filter_item.id }}' type="button"
                                            class="btn btn-warning"
                                            data-action="addFilter"
                                            data-url="{% url 'addFilterID' filter_item.id %}"
                                            onclick="universalModal(this)"
                                            data-targetHTML="#editFilter">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <a class="btn btn-danger" data-url="{% url 'deleteFilter' %}"
                                       id="filterDel{{ filter_item.id }}" data-itemid="{{ filter_item.id }}"
                                       data-toggle="confirmation" data-singleton="true" data-popover="true"
                                       data-target="filter_row{{ filter_item.id }}"
                                       href="javascript:deleteItem('filterDel{{ filter_item.id }}')">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="account">
            <div>
                <div id="editWrapper">
                    <button class="btn btn-danger closing" onclick="hideForm('addIMAP')">
                        <i class="fa fa-times"></i>
                    </button>
                    <div id="addIMAP">

                    </div>
                </div>

                <table class="crud-table table table-striped table-hover">
                    <tr>
                        <th>Account</th>
                        <th>
                            <button id='addIMAPBtn' type="button" class="btn btn-success"
                                    data-action="addIMAP"
                                    data-target="#addIMAPModal" data-url="{% url 'addIMAP' %}"
                                    data-targetHTML="#addIMAP" onclick="universalModal(this)">
                                <i class="fa fa-plus"></i>
                            </button>
                        </th>
                    </tr>
                    {% for acc_item in accounts %}
                        <tr id="imap_row{{ acc_item.id }}">
                            <td>
                                {{ acc_item.name }}
                                <div class="data" id="data_acc{{ acc_item.id }}">
                                    <table class="table">
                                        <tr>
                                            <th>{% trans 'Host:' %}</th>
                                            <td>{{ acc_item.host }}</td>
                                        </tr>

                                        <tr>
                                            <th>{% trans 'Port:' %}</th>
                                            <td>{{ acc_item.port }}</td>
                                        </tr>

                                        <tr>
                                            <th>{% trans 'Username:' %}</th>
                                            <td>{{ acc_item.username }}</td>
                                        </tr>

                                    </table>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info"
                                            onclick="showData('data_acc{{ acc_item.id }}')">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button id='addIMAP{{ acc_item.id }}' type="button" class="btn btn-warning"
                                            data-action="addIMAPID"
                                            data-url="{% url 'addIMAPID' acc_item.id %}"
                                            onclick="universalModal(this)"
                                            data-targetHTML="#addIMAP">
                                        <i class="fa fa-pencil"></i>

                                    </button>
                                    <button id='testIMAP{{ acc_item.id }}' type="button" class="btn btn-success"
                                            data-action="testIMAP"
                                            data-url="{% url 'testIMAP' %}"
                                            onclick="testIMAP(this, {{ acc_item.id }})">
                                        <i class="fa fa-exchange"></i>
                                    </button>
                                    <a class="btn btn-danger" data-url="{% url 'deleteIMAP' %}"
                                       id="IMAPdel{{ acc_item.id }}" data-itemid="{{ acc_item.id }}"
                                       data-target="imap_row{{ acc_item.id }}"
                                       data-toggle="confirmation" data-singleton="true" data-popover="true"
                                       href="javascript:deleteItem('IMAPdel{{ acc_item.id }}')">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <script>
		$('[data-toggle=confirmation]').confirmation({
			rootSelector: '[data-toggle=confirmation]'
		});
    </script>
</div>