{% load i18n %}

{% load bootstrap %}

<h4 class="modal-title">{% trans 'Add GIT webhook' %}</h4>

<div id="addBoard" class="modal-forms">
    <form action="{% url 'board' board_id %}{% if edit_id %}?id={{ edit_id }}{% endif %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
            <div class="center">
                <button type="submit" class="btn btn-info bigger" value="Send">
                    <i class="fa fa-plus"></i> Send
                </button>
            </div>
    </form>
</div>
