{% load i18n %}

<div class="modal-header">
    <h4 class="modal-title">{% trans 'Add GIT webhook' %}</h4>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">

    <div>
        <div class="tab-content">
            <div id="githooks">
                <div>
                    <div id="editWrapper">
                        <button class="btn btn-danger closing" onclick="hideForm('editGithook')">
                            <i class="fa fa-times"></i>
                        </button>
                        <div id="editGithook">

                        </div>
                    </div>

                    <table class="crud-table table table-striped table-hover">
                        <tr>
                            <th>Git webhook</th>
                            <th>
                                <button id='addHook' type="button" class="btn btn-success"
                                        data-action="editGithook"
                                        data-url="{% url 'addWebHook' %}"
                                        data-targetHTML="#editGithook" onclick="universalModal(this)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </th>
                        </tr>
                        {% for githook in githooks %}
                            <tr id="webhook_row{{ githook.id }}">
                                <td>
                                    {{ githook.name }}
                                    <div class="data" id="data{{ githook.id }}">
                                        <table class="table">
                                            <tr>
                                                <th>{% trans 'git service' %}</th>
                                                <td>{{ githook.service.name }}</td>
                                            </tr>
                                            <tr>
                                                <th>{% trans 'URL:' %}</th>
                                                <td>{{ githook.get_hook_url }}</td>
                                            </tr>
                                            <tr>
                                                <th>{% trans 'git kw:' %}</th>
                                                <td>{{ githook.commit_msg_kw }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info"
                                                onclick="showData('data{{ githook.id }}')">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        <button id='editGithook{{ githook.id }}' type="button"
                                                class="btn btn-warning"
                                                data-action="editGithook"
                                                data-url="{% url 'editWebHook' githook.id %}"
                                                onclick="universalModal(this)"
                                                data-targetHTML="#editGithook">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <a class="btn btn-danger" data-url="{% url 'deleteWebHook' %}"
                                           id="hookdel{{ githook.id }}" data-itemid="{{ githook.id }}"
                                           data-target="webhook_row{{ githook.id }}"
                                           data-toggle="confirmation" data-singleton="true" data-popover="true"
                                           href="javascript:deleteItem('hookdel{{ githook.id }}')">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <script>
			$('[data-toggle=confirmation]').confirmation({
				rootSelector: '[data-toggle=confirmation]'
			});
        </script>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
</div>